<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="userSQL">
	<insert id="write" parameterType="user.bean.UserDTO">
		insert into usertable values(#{name},#{id},#{pwd})
	</insert>
	<select id="getUserList" resultType="user.bean.UserDTO">
		select * from usertable
	</select>
	<select id="getUser" parameterType="String" resultType="user.bean.UserDTO">
		select * from usertable where id=#{id}
	</select>
	<select id="modify" parameterType="java.util.Map" resultType="user.bean.UserDTO">
		update usertable set name=#{name}, pwd=#{pwd} where id=#{id}
	</select>
	<select id="delete" parameterType="String" resultType="user.bean.UserDTO">
		delete usertable where id=#{id}
	</select>
	<select id="search" parameterType="map" resultType="user.bean.UserDTO">
		select * from usertable where id like '%'||#{map}||'%'
	</select>
</mapper>




